asd{
    height: 200px;
    position: relative;
    border: 3px solid green;
}

@keyframes example {
    0%   {
            top:-100px;}
    /*10%  {top:20px;}
    20%  {top:40px;}
    30%  {top:60px;}
    40%  {top:80px;}
    50%  {top:100px;}
    60%  {top:120px;}
    70%  {top:140px;}
    80%  {top:160px;}
    90%  {top:180px;}*/
    100% {top:190px;}
}