{% extends 'layout.html' %}
{% block content %}
    <div class="container align-content-center">
      <div class="row">
        <div id="dealer-cards"  class="col-8">
        </div>
        <div id="dealer-points" class="col-4">
{#          dealer points sum#}
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <button class="button" id="hit" type="button">HIT</button>
        </div>
        <div class="col-4">
            <div class="bet_place">
              <img src="/static/image/clipart2379910.png" alt="" style="max-height: 200px">
              <div class="centered">BET</div>
            </div>
        </div>
        <div class="col-4">
          <button class="button" id="stand" type="button">STAND</button>
        </div>
      </div>
      <div class="row">
        <div id="player-cards" class="col-8">
        </div>
        <div id="player-points" class="col-4">
{#          player points sum#}
        </div>
      </div>
    </div>
{% endblock %}