{% extends 'layout.html' %}
{% block content %}
    <div class="container container-fluid align-content-center">
      <div class="row">
        <div id="dealer-cards"  class="col-9">
        </div>
        <div class="col-3">
            <h3>Dealer's Points:</h3>
            <div id="dealer-points">

            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <button class="button" id="hit" type="button">HIT</button>
        </div>
        <div class="col-4">
            <div class="bet_place">
              <img src="/static/image/clipart2379910.png" alt="" style="max-height: 200px">
              <div class="centered"><h1>$</h1></div>
            </div>
        </div>
        <div class="col-4">
          <button class="button" id="stand" type="button">STAND</button>
        </div>
      </div>
      <div class="row">
        <div id="player-cards" class="col-9">
        </div>
        <div class="col-3">
            <h3>{{ player_name }}'s Points:</h3>
            <div id="player-points">
            </div>
        </div>
      </div>
    <div class="endgame">
        <div class="text"></div>
    </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
{#          <div class="modal-header">#}
{#            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>#}
{#            <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#              <span aria-hidden="true">&times;</span>#}
{#            </button>#}
{#          </div>#}
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}