{% extends 'layout.html' %}
{% block content %}
    <form action="{{ url_for('black_jack') }}">
        <label for="name">Please enter your name:</label>
        <input id="name" type="text" name="player_name" required>
        <a href="{{ url_for('black_jack') }}">
        <button class="button" type="submit">Play Game</button>
        </a>
        <a href="https://www.youtube.com/watch?v=SwL5pQlZumg">
        <img class="suzuki" src="{{ url_for('static', filename='image/suzuki.png') }}">
        </a>
    </form>
{% endblock %}