<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <script src="{{ url_for('static', filename='js/jquery.js') }}" type=text/javascript defer></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}" type=text/javascript defer></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}" type=text/javascript defer></script>
    <script src="{{ url_for('static', filename='js/game.js') }}" type=text/javascript defer></script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>